.NameC {
  text-align: center;
  padding-top: 20px;
  font-family: 'Verdana, Geneva, Tahoma, sans-serif';
  font-size: 24px;
}

.Calculadora {
  display: grid;
  grid-template-rows: 100px auto auto auto auto;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 500px; /* Aumenté el ancho */
  margin: 0 auto;
}

.Resultado {
  grid-column: span 4;
  text-align: right;
  font-size: 48px;
  padding: 20px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button {
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  padding: 20px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ccc;
}

.n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8, .n9, .n0, .sMul, .sMe, .Clear, .Del, .sD, .sR {
  grid-column: span 1;
}

.n0 {
  grid-column: span 2;
}

.sI {
  grid-column: span 2;
}

@media (max-width: 600px) {
}