body {
    background-color: beige;
    margin: 0;
}

.NameP {
    text-align: center;
    padding-top: 60px;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}

.Portafolio {
    display: grid;
    grid-template-rows: repeat(1, 300px);
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 35%;
    margin-top: 90px;
}

.ImgPerfil {
    border-style: solid;
    height: 250px;
    width: 250px;
    margin-left: 50px;
}

.Nombre {
    text-align: center;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}

.Proyecto1 {
    display: grid;
    grid-template-rows: repeat(1, 300px);
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    margin-top: 90px;
}

.ImgProyecto1 {
    grid-column: span 2; /* Usa span para simplificar la definición de columnas */
    grid-row: span 1;    /* Usa span para simplificar la definición de filas */
    height: 250px;
    width: 500px;
    align-items: center;
    border-radius: 10px;
}

.TextoProyecto1 {
    margin-left: 50px;
}

.conocimientos{
    padding-left: 1rem;
}


.Ejemplos{
    justify-content: center;
    text-align: center;
    padding: 100px;
    font-size: 10px;
    font-family:'Times New Roman', Times, serif;
}

.Container{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    outline-color: black;
    outline-style: auto;
    background-color: white;
    padding: 20px;
}

.Cuadrito{
    width: 5px;
    height: 5px;
    background-color: greenyellow;
    margin-top: 50px;
    animation: CuadroVueltas 1s linear forwards infinite ;
    animation-delay: 500ms;
}

@keyframes CuadroVueltas{
    100%{
        transform: 
        translate(100px)
        rotate(0.25turn);
    }
}

.expansion{
    width: 11px;
    height: 15px;
    margin-top: 41px;
    margin-left: 40px;
    background-color: tomato;
    transition: 500ms;
    transform: scale(0);
    animation-delay: 500ms;
}

.Container:hover .expansion{
    animation-play-state: paused;
    transition: all linear 1s;
    transition: cubic-bezier(0.42, 0, 0.76, 1.52) 1s;
}

.Hoverme{
    width: 50px;
    height: 20px;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 10px;
    padding-top: 10px;
/*Las transciciones deben ir en el elemento que se afecta */
    transition: all linear 1s;
    background-color: white;
    outline-style: auto;
    animation-delay: 1s;
    border-radius: 5px;
}

.Hoverme:hover{
    background-color: rgb(83, 182, 243);
    outline-style: dotted;
    outline-color: rgb(83, 182, 243);
    color: white;
}


.Final {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(13, 50px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 35%;
    background-color: black;
    color: gray;
    justify-content: center;
    text-align: center;
}

.Linkdln {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.Githubi {
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.GithubiT, .linkedlnT {
    grid-column-start: 8;
    grid-column-end: 12;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.GitI, .LinI {
    width: 200px;
    height: 200px;
}

@media (max-width: 600px) {
}